Source: tinywm
Section: x11
Priority: optional
Maintainer: Mateusz Łukasik <mati75@linuxmint.pl>
Build-Depends: debhelper-compat (= 13), libx11-dev, libxext-dev,
	python3-xlib, x11proto-core-dev
Standards-Version: 4.5.0
Homepage: http://incise.org/tinywm.html
Rules-Requires-Root: no

Package: tinywm
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: x-window-manager
Description: tiny window manager
 TinyWM is a small, simple window manager.  It has a minimal memory
 footprint, which makes it useful in embedded systems.  It features window
 move, resize, and raise operations, and supports "sloppy focus".
 .
 Due to its simplicity, its source code (in C and Python) can be used as a
 reference implementation for developers seeking to understand basic window
 manager programming.
